<!doctype html>
<html lang="en" ng-app="ShoppingListCheckOff">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 13px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
      button span.remove {
        color: red;
      }
    </style>
  </head>
<body>
  <div class="container">
  <h1 class="text-center">Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-offset-4 col-md-6" ng-controller="ToAddItemToTheList as addItem">
      <h2>Add to list:</h2>
      <input type="text" ng-model="addItem.itemName" placeholder="item name">
      <input type="text" ng-model="addItem.itemQuantity" placeholder="item quantity">
      <button ng-click="addItem.addItem();">Add Item</button>
      <div ng-if="addItem.errorMessage" class="error">Error: {{addItem.errorMessage}}</div>
    </div>
    <div class="col-md-6" ng-controller="ToBuyShoppingController as toBuy">
     <h2 class="text-center">To Buy:</h2>
     <ul>
       <li ng-repeat="items in toBuy.toBuyList track by $index">
         Buy {{items.quantity}} {{items.name}}(s)
         
         <button ng-click="toBuy.removeItem($index);" class="btn btn-default pull-right"><span class="glyphicon glyphicon-remove remove"></span> Remove</button>

         <button ng-click="toBuy.moveItem($index);" class="btn btn-default pull-right"><span class="glyphicon glyphicon-ok"></span> Bought</button>

       </li>
     </ul>

     <div ng-if="!toBuy.toBuyList.length" class="emptyMessage text-center">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="AlreadyBoughtShoppingController as bought">
     <h2 class="text-center">Already Bought:</h2>
     <ul>
       <li ng-repeat="items in bought.bougthList track by $index">
         Bought {{items.quantity}} {{items.name}}(s)
          <button ng-click="bought.retrieveItem($index);" class="btn btn-default pull-right"><span class="glyphicon glyphicon-ok"></span> Oooops</button>
       </li>
     </ul>
     <div ng-if="!bought.bougthList.length" class="emptyMessage text-center">Nothing bought yet.</div>
    </div>
  </div>
</div>

</body>
</html>
